@mixin shape($height, $width){
  height: $height;
  width: $width;
}

.modal{
  align-self: center;
}
#modal-wrap{
  border: none;
  background-color: white;
  margin-right: 15px;
}

#modal-wrap{
  outline: 1px solid transparent;
}

path{
  transition: all 0.5s;
}

#modal-wrap:hover path{
  fill: #A07C72;
}

#modal-wrap:active path{
  fill: #E0B59F;
}

#modal-wrap:focus path{
  fill: #A07C72;
}

#modal-wrap:focus {
  outline: 1px solid #E0B59F;
  border-radius: 10px;
}

#dialog{
  &::backdrop{
    background-color: rgba(0, 0, 0, 0.5);
  }
  position: fixed;
  border: none;
  @include txt("Roboto", 500, 16px);
}

.dialog-container{
  @include shape(589px, 476px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dialog__text-container{
  height: 90px;
  width: 424px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.dialog__text-container h3{
  @include txt('Roboto', 700, 22px);
}
.dialog__text{
  height: 41px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media (max-width: 768px){
  .dialog-container{
    width: 442px;
  }
  .dialog__text-container{
    max-width: 402px;
  }
}

@media (max-width: 450px){
  .dialog-container{
    width: 363px;
  }
  .dialog__text-container{
    width: 323px;
  }
  .dialog__text{
    height: 60px;
  }
}

form{
  @include txt("Roboto", 500, 18px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 360px;
  width: 435px;
  margin-top: 24px;
}

@media (max-width: 768px){
  form{
    width: 402px;
  }
}

@media (max-width: 450px){
  form{
    width: 323px;
  }
}

label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dialog__name{
  height: 81px;
  position: relative;
  &::after{
    content: "";
    height: 31px;
    width: 31px;
    background-image: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.2285 11.4473C17.6448 11.4473 19.6035 9.48851 19.6035 7.07227C19.6035 4.65602 17.6448 2.69727 15.2285 2.69727C12.8123 2.69727 10.8535 4.65602 10.8535 7.07227C10.8535 9.48851 12.8123 11.4473 15.2285 11.4473Z' stroke='%23868686' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M2.72852 25.8223C2.72852 20.2991 7.76539 15.8223 13.9785 15.8223M19.6035 26.4473L25.8535 20.1973L23.3535 17.6973L17.1035 23.9473V26.4473H19.6035Z' stroke='%23868686' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    position: absolute;
    right: 10px;
    bottom: 6px;
  }
}

.dialog__name:focus-within {
  &::after{
    background-image: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.2285 11.4473C17.6448 11.4473 19.6035 9.48851 19.6035 7.07227C19.6035 4.65602 17.6448 2.69727 15.2285 2.69727C12.8123 2.69727 10.8535 4.65602 10.8535 7.07227C10.8535 9.48851 12.8123 11.4473 15.2285 11.4473Z' stroke='%23A07C72' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M2.72852 25.8223C2.72852 20.2991 7.76539 15.8223 13.9785 15.8223M19.6035 26.4473L25.8535 20.1973L23.3535 17.6973L17.1035 23.9473V26.4473H19.6035Z' stroke='%23A07C72' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  }
}

.dialog__email{
  height: 81px;
  position: relative;
  &::after{
    content: "";
    height: 31px;
    width: 31px;
    background-image: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.2285 3.00977C11.9962 3.00977 8.89625 4.2938 6.61065 6.5794C4.32505 8.865 3.04102 11.9649 3.04102 15.1973C3.04102 18.4296 4.32505 21.5295 6.61065 23.8151C8.89625 26.1007 11.9962 27.3848 15.2285 27.3848C17.7492 27.3848 20.3965 26.6254 22.3102 25.3539C22.4127 25.2857 22.5009 25.198 22.5695 25.0958C22.6382 24.9935 22.6861 24.8788 22.7104 24.7581C22.7347 24.6373 22.735 24.513 22.7113 24.3921C22.6875 24.2713 22.6402 24.1563 22.5721 24.0537C22.5039 23.9511 22.4162 23.863 22.3139 23.7943C22.2117 23.7257 22.097 23.6778 21.9762 23.6535C21.8555 23.6292 21.7311 23.6289 21.6103 23.6526C21.4894 23.6763 21.3744 23.7236 21.2719 23.7918C19.6816 24.8512 17.3625 25.5098 15.2285 25.5098C13.1889 25.5098 11.1951 24.9049 9.4992 23.7718C7.80332 22.6386 6.48154 21.0281 5.70101 19.1437C4.92048 17.2593 4.71626 15.1858 5.11417 13.1854C5.51208 11.185 6.49425 9.34746 7.93648 7.90523C9.37871 6.463 11.2162 5.48083 13.2166 5.08292C15.2171 4.68501 17.2906 4.88923 19.1749 5.66976C21.0593 6.45029 22.6699 7.77207 23.803 9.46795C24.9362 11.1638 25.541 13.1576 25.541 15.1973C25.541 18.2969 24.266 18.9473 23.1973 18.9473C22.1285 18.9473 20.8535 18.2969 20.8535 15.1973V10.5098C20.8535 10.2611 20.7547 10.0227 20.5789 9.84685C20.4031 9.67104 20.1647 9.57227 19.916 9.57227C19.6674 9.57227 19.4289 9.67104 19.2531 9.84685C19.0773 10.0227 18.9785 10.2611 18.9785 10.5098V11.009C18.1372 10.2547 17.0882 9.77124 15.9682 9.62165C14.8482 9.47205 13.7091 9.66323 12.6993 10.1703C11.6895 10.6773 10.8559 11.4768 10.3069 12.4644C9.75798 13.452 9.5192 14.5821 9.62171 15.7074C9.72421 16.8327 10.1632 17.901 10.8816 18.7732C11.6 19.6454 12.5644 20.2811 13.6491 20.5973C14.7339 20.9136 15.8888 20.8958 16.9634 20.5463C18.0379 20.1968 18.9823 19.5318 19.6734 18.6379C20.3766 20.0441 21.5895 20.8223 23.1973 20.8223C25.8387 20.8223 27.416 18.7199 27.416 15.1973C27.4126 11.966 26.1275 8.86803 23.8426 6.58317C21.5578 4.29831 18.4598 3.01318 15.2285 3.00977ZM15.2285 18.9473C14.4868 18.9473 13.7618 18.7273 13.1451 18.3153C12.5284 17.9032 12.0478 17.3176 11.764 16.6323C11.4801 15.9471 11.4059 15.1931 11.5506 14.4657C11.6953 13.7382 12.0524 13.0701 12.5769 12.5456C13.1013 12.0212 13.7695 11.664 14.4969 11.5193C15.2244 11.3746 15.9784 11.4489 16.6636 11.7327C17.3488 12.0165 17.9345 12.4972 18.3465 13.1139C18.7586 13.7306 18.9785 14.4556 18.9785 15.1973C18.9785 16.1918 18.5834 17.1457 17.8802 17.8489C17.1769 18.5522 16.2231 18.9473 15.2285 18.9473Z' fill='%23868686'/%3E%3C/svg%3E");
    position: absolute;
    right: 10px;
    bottom: 6px; 
  }
}

.dialog__email:focus-within {
  &::after{
    background-image: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.2285 3.00977C11.9962 3.00977 8.89625 4.2938 6.61065 6.5794C4.32505 8.865 3.04102 11.9649 3.04102 15.1973C3.04102 18.4296 4.32505 21.5295 6.61065 23.8151C8.89625 26.1007 11.9962 27.3848 15.2285 27.3848C17.7492 27.3848 20.3965 26.6254 22.3102 25.3539C22.4127 25.2857 22.5009 25.198 22.5695 25.0958C22.6382 24.9935 22.6861 24.8788 22.7104 24.7581C22.7347 24.6373 22.735 24.513 22.7113 24.3921C22.6875 24.2713 22.6402 24.1563 22.5721 24.0537C22.5039 23.9511 22.4162 23.863 22.3139 23.7943C22.2117 23.7257 22.097 23.6778 21.9762 23.6535C21.8555 23.6292 21.7311 23.6289 21.6103 23.6526C21.4894 23.6763 21.3744 23.7236 21.2719 23.7918C19.6816 24.8512 17.3625 25.5098 15.2285 25.5098C13.1889 25.5098 11.1951 24.9049 9.4992 23.7718C7.80332 22.6386 6.48154 21.0281 5.70101 19.1437C4.92048 17.2593 4.71626 15.1858 5.11417 13.1854C5.51208 11.185 6.49425 9.34746 7.93648 7.90523C9.37871 6.463 11.2162 5.48083 13.2166 5.08292C15.2171 4.68501 17.2906 4.88923 19.1749 5.66976C21.0593 6.45029 22.6699 7.77207 23.803 9.46795C24.9362 11.1638 25.541 13.1576 25.541 15.1973C25.541 18.2969 24.266 18.9473 23.1973 18.9473C22.1285 18.9473 20.8535 18.2969 20.8535 15.1973V10.5098C20.8535 10.2611 20.7547 10.0227 20.5789 9.84685C20.4031 9.67104 20.1647 9.57227 19.916 9.57227C19.6674 9.57227 19.4289 9.67104 19.2531 9.84685C19.0773 10.0227 18.9785 10.2611 18.9785 10.5098V11.009C18.1372 10.2547 17.0882 9.77124 15.9682 9.62165C14.8482 9.47205 13.7091 9.66323 12.6993 10.1703C11.6895 10.6773 10.8559 11.4768 10.3069 12.4644C9.75798 13.452 9.5192 14.5821 9.62171 15.7074C9.72421 16.8327 10.1632 17.901 10.8816 18.7732C11.6 19.6454 12.5644 20.2811 13.6491 20.5973C14.7339 20.9136 15.8888 20.8958 16.9634 20.5463C18.0379 20.1968 18.9823 19.5318 19.6734 18.6379C20.3766 20.0441 21.5895 20.8223 23.1973 20.8223C25.8387 20.8223 27.416 18.7199 27.416 15.1973C27.4126 11.966 26.1275 8.86803 23.8426 6.58317C21.5578 4.29831 18.4598 3.01318 15.2285 3.00977ZM15.2285 18.9473C14.4868 18.9473 13.7618 18.7273 13.1451 18.3153C12.5284 17.9032 12.0478 17.3176 11.764 16.6323C11.4801 15.9471 11.4059 15.1931 11.5506 14.4657C11.6953 13.7382 12.0524 13.0701 12.5769 12.5456C13.1013 12.0212 13.7695 11.664 14.4969 11.5193C15.2244 11.3746 15.9784 11.4489 16.6636 11.7327C17.3488 12.0165 17.9345 12.4972 18.3465 13.1139C18.7586 13.7306 18.9785 14.4556 18.9785 15.1973C18.9785 16.1918 18.5834 17.1457 17.8802 17.8489C17.1769 18.5522 16.2231 18.9473 15.2285 18.9473Z' fill='%23A07C72'/%3E%3C/svg%3E");
  }
}

.dialog__comment{
  height: 134px;
  position: relative;
  &::after{
    content: "";
    height: 31px;
    width: 31px;
    background-image: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.2179 27.9827C3.1258 27.9827 2.94159 27.9827 2.84949 27.8874C2.48108 27.6969 2.29688 27.4111 2.29688 27.0301V10.836C2.29688 6.07307 5.98099 2.2627 10.5861 2.2627H19.7964C24.4015 2.2627 28.0857 6.07307 28.0857 10.836V14.6464C28.0857 19.4094 24.4015 23.2197 19.7964 23.2197H15.4676C11.2308 23.2197 7.08622 24.8391 3.86262 27.7922C3.67842 27.8874 3.40211 27.9827 3.2179 27.9827ZM4.29687 10.836V24.8638C7.56983 22.5028 11.4749 21.2197 15.4676 21.2197H19.7964C23.234 21.2197 26.0857 18.3689 26.0857 14.6464V10.836C26.0857 7.11358 23.234 4.2627 19.7964 4.2627H10.5861C7.14855 4.2627 4.29687 7.11358 4.29687 10.836ZM10.7509 14.197C11.5748 14.197 12.2427 13.5291 12.2427 12.7052C12.2427 11.8813 11.5748 11.2134 10.7509 11.2134C9.92697 11.2134 9.25907 11.8813 9.25907 12.7052C9.25907 13.5291 9.92697 14.197 10.7509 14.197ZM17.2148 12.7052C17.2148 13.5291 16.5469 14.197 15.723 14.197C14.8991 14.197 14.2312 13.5291 14.2312 12.7052C14.2312 11.8813 14.8991 11.2134 15.723 11.2134C16.5469 11.2134 17.2148 11.8813 17.2148 12.7052ZM20.6961 14.197C21.52 14.197 22.1879 13.5291 22.1879 12.7052C22.1879 11.8813 21.52 11.2134 20.6961 11.2134C19.8722 11.2134 19.2043 11.8813 19.2043 12.7052C19.2043 13.5291 19.8722 14.197 20.6961 14.197Z' fill='%23868686'/%3E%3C/svg%3E");
    position: absolute;
    right: 10px;
    bottom: 59px; 
  }
}

.dialog__comment:focus-within {
  &::after{
    background-image: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.2179 27.9827C3.1258 27.9827 2.94159 27.9827 2.84949 27.8874C2.48108 27.6969 2.29688 27.4111 2.29688 27.0301V10.836C2.29688 6.07307 5.98099 2.2627 10.5861 2.2627H19.7964C24.4015 2.2627 28.0857 6.07307 28.0857 10.836V14.6464C28.0857 19.4094 24.4015 23.2197 19.7964 23.2197H15.4676C11.2308 23.2197 7.08622 24.8391 3.86262 27.7922C3.67842 27.8874 3.40211 27.9827 3.2179 27.9827ZM4.29687 10.836V24.8638C7.56983 22.5028 11.4749 21.2197 15.4676 21.2197H19.7964C23.234 21.2197 26.0857 18.3689 26.0857 14.6464V10.836C26.0857 7.11358 23.234 4.2627 19.7964 4.2627H10.5861C7.14855 4.2627 4.29687 7.11358 4.29687 10.836ZM10.7509 14.197C11.5748 14.197 12.2427 13.5291 12.2427 12.7052C12.2427 11.8813 11.5748 11.2134 10.7509 11.2134C9.92697 11.2134 9.25907 11.8813 9.25907 12.7052C9.25907 13.5291 9.92697 14.197 10.7509 14.197ZM17.2148 12.7052C17.2148 13.5291 16.5469 14.197 15.723 14.197C14.8991 14.197 14.2312 13.5291 14.2312 12.7052C14.2312 11.8813 14.8991 11.2134 15.723 11.2134C16.5469 11.2134 17.2148 11.8813 17.2148 12.7052ZM20.6961 14.197C21.52 14.197 22.1879 13.5291 22.1879 12.7052C22.1879 11.8813 21.52 11.2134 20.6961 11.2134C19.8722 11.2134 19.2043 11.8813 19.2043 12.7052C19.2043 13.5291 19.8722 14.197 20.6961 14.197Z' fill='%23A07C72'/%3E%3C/svg%3E");
}
}

.name__input{
  @include shape(48px, 440px);
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 45px;
  box-sizing: border-box;
  border: 1px solid #B3B3B3;
  outline: 1px solid transparent;
  transition: all 0.5s;
}

.name__input:hover {
  background-color: #EDEDED;
  border: 1px solid #B3B3B3;
}

.name__input:active {
  background-color: white;
  outline: 1px solid black;
}

.name__input:focus {
  background-color: white;
  border: 1px solid #E0B59F;
  &::placeholder{
    color: #A07C72;
  }
}

.email__input{
  @include shape(48px, 440px);
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 45px;
  box-sizing: border-box;
  border: 1px solid #B3B3B3;
  outline: 1px solid transparent;
  transition: all 0.5s;
}

.email__input:hover {
  background-color: #EDEDED;
  border: 1px solid #B3B3B3;
}

.email__input:active {
  background-color: white;
  outline: 1px solid black;
}

.email__input:focus {
  background-color: white;
  border: 1px solid #E0B59F;
  &::placeholder{
    color: #A07C72;
  }
}

.comment__input{
  @include shape(100px, 440px);
  border-radius: 8px;
  font-family: inherit;
  resize: none;
  border-width: 2px;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 45px;
  box-sizing: border-box;
  border: 1px solid #B3B3B3;
  outline: 1px solid transparent;
  transition: all 0.5s;
}

.comment__input:hover {
  background-color: #EDEDED;
  border: 1px solid #B3B3B3;
}

.comment__input:active {
  background-color: white;
  outline: 1px solid black;
}

.comment__input:focus {
  background-color: white;
  border: 1px solid #E0B59F;
  &::placeholder{
    color: #A07C72;
  }
}

@media (max-width: 768px){
  .name__input, .email__input, .comment__input{
    width: 390px;
  }
}

@media (max-width: 450px){
  .name__input, .email__input, .comment__input{
    width: 311px;
  }
}
.button-style{
  height: 54px;
  border: 1px solid black;
  border-radius: 8px;
}

#modal__cancel{
  @include txt("Roboto", 500, 18px);
  @extend .button-style;
  width: 208px;
  background-color: white;
  position: absolute;
  bottom: 26px;
  left: 24px;
  outline: 4px double transparent;
  transition: all 0.5s;
}

#modal__cancel:hover {
  background-color: #F5E0D6;
  border: 1px solid #ECC5B2;
}

#modal__cancel:active {
  background-color: #EAC8B7;
  border: 1px solid #E0B59F;
}

#modal__cancel:focus {
  border: 1px solid #B3B3B3;
  outline: 4px double #E0B59F;
  color: #A07C72;
}

#modal__cancel:disabled {
  border: 1px solid #CCCCCC;
  color: #CCCCCC;
}

@media (max-width: 768px){
  #modal__cancel{
    width: 188px;
    left: 27px;
  }
}
@media (max-width: 450px){
  #modal__cancel{
    width: 147px;
    left: 28px;
  }
}

#modal__send{
  @include txt("Roboto", 500, 18px);
  @extend .button-style;
  width: 208px;
  background-color: black;
  color: white; 
  position: absolute;
  bottom: 26px;
  right: 24px;
  border: 1px solid transparent;
  outline: 4px double transparent;
  transition: all 0.5s;
}

#modal__send:hover {
  background-color: #A07C72;
}

#modal__send:active {
  background-color: #E0B59F;
}

#modal__send:focus {
  background-color: black;
  outline: 4px double #E0B59F;
}

#modal__send:disabled {
  background-color: #CCCCCC;
}

@media (max-width: 768px){
  #modal__send{
    width: 188px;
    right: 27px;
  }
}
@media (max-width: 450px){
  #modal__send{
    width: 147px;
    right: 28px;
  }
}