.testimonials {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content:center;
}

.testimonials-grid {
  padding-left: 25px;
  display: grid;
  grid-template-columns: minmax(98px, 2fr) minmax(100px, 9fr) minmax(100px, 3fr) minmax(100px, 9fr);
  grid-template-rows: repeat(11,1fr);
}

.testimonials__title {
  grid-column: 3;
  grid-row: 1/3;
  writing-mode: sideways-lr;
  padding-left: 26px;
}

.testimonials__img-container1 {
  grid-column: 2;
  grid-row: 1/-1; 
}

.testimonials__img1{
  width: 100%;
  height: 100%;
}

.testimonials__link3 {
  grid-column: 1;
  grid-row: 1/4;
  writing-mode: sideways-lr;
  justify-self: center;
}

.testimonials__link1 {
  padding: 10px 10px 0 0;
  grid-column: 1;
  grid-row: 5/8; 
  writing-mode: sideways-lr;
  place-self: center;
}

.testimonials__link2 {
  padding: 0 15px 30px 0;
  grid-column: 1;
  grid-row: 9/12;
  writing-mode: sideways-lr;
  place-self: center;
}

.testimonials_quote {
  @include txt('Bitter', 400, 32px);
  padding: 45px 10px 0 0;
  line-height: 120%;
  max-width: 221px;
  grid-column: 4;
  grid-row: 1/6;
  text-align: center;
  place-self: center;
}

.testimonials__img-container2 {
  padding-top: 36px;
  grid-column: 4;
  grid-row: 6/-1;
  align-self: start;
  justify-self: center;
  max-width: 221px;
  height: 333px;
}

.testimonials__img2{
  width: 100%;
}

@media (max-width: 768px){
  .testimonials-grid{
    grid-template-columns: repeat(6, 1fr);
    /* grid-column: auto; */
    grid-template-rows: repeat(3,1fr);
    height: 442px;
    padding-left: 0;
    max-width: 768px;
  }
  .testimonials__title{
    grid-column: 4/7;
    grid-row: 1;
    writing-mode: horizontal-tb;
    padding-left: 0px;
    justify-self: flex-end;
    padding-right: 10px;
  }
  .testimonials__img-container1{
    display: none;
  }
  .testimonials__link3{
    grid-column: 1/3;
    grid-row: 3/4;
    writing-mode: horizontal-tb;
    align-self: flex-end;
  }
  .testimonials__link1{
    grid-column: 3/5;
    grid-row: 3;
    writing-mode: horizontal-tb;
    padding: 0;
    align-self: flex-end;
  }
  .testimonials__link2{
    grid-column: 5/7;
    grid-row: 3;
    writing-mode: horizontal-tb;
    padding: 0;
    align-self: flex-end;
  }
  .testimonials_quote{
    grid-column: 1/4;
    grid-row: 1/4;
    align-self: center;
    justify-self: center;
    max-width: 364px;
    padding: 0;
    @include txt('Bitter', 300, 30px);
  }
  .testimonials__img-container2{
    padding-top: 16px;
    grid-column: 4/7;
    grid-row: 1/4;
    align-self: center;
    height: 330px; 
    max-width: 336px;
  }
  .testimonials__img2{
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
}

@media (max-width: 450px){
  .testimonials-grid{
    grid-template-rows: 2fr 2fr 2fr 2fr 1fr 1fr;
    height: 705px;
  }
  .testimonials__link3{
    grid-column: 1/4;
    grid-row: 5/6;
  }
  .testimonials__link1{
    grid-column: 4/7;
    grid-row: 5/6;
  }
  .testimonials__link2{
    grid-column: 1/4;
    grid-row: 6/7;
  }
  .testimonials__img-container2{
    grid-column: 1/-1;
    grid-row: 3/5;
    padding-top: 0;
    max-width: 414px;
  }
  .testimonials__img2{
    aspect-ratio: calc(414/330);
  }
  .testimonials_quote{
    grid-column: 1/-1;
    grid-row: 1/3;
    max-width: 342px;
  }
}