@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Medium"), local("Roboto-Medium"), url("/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Bold"), local("Roboto-Bold"), url("/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Playfair Display";
  src: local("Playfair Display Regular"), local("PlayfairDisplay-Regular"), url("/fonts/PlayfairDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Playfair Display";
  src: local("Playfair Display Medium"), local("PlayfairDisplay-Medium"), url("/fonts/PlayfairDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Playfair Display";
  src: local("Playfair Display Semibold"), local("PlayfairDisplay-Semibold"), url("/fonts/PlayfairDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
}
/*@font-face {
font-family: "Bitter";
src: local("Bitter Regular"),
local("Bitter-Regular"),
url("/fonts/Bitter-Regular.ttf") format("truetype");
font-weight: 400;
}*/
body {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
}

/* Header */
header.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.header__heading {
  font-family: "Playfair Display";
  font-weight: 600;
  font-size: 86px;
  margin-left: 21px;
}

@media (max-width: 768px) {
  .header__heading {
    display: none;
  }
}
.header__nav {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .header__nav {
    width: 100%;
  }
}
.header__nav-container {
  align-self: center;
  width: 95%;
}

.header__nav_desktop {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding-right: 10px;
  gap: 55px;
  font-size: 24px;
}

.header__nav_tablet {
  display: none;
}

@media (max-width: 768px) {
  .header__nav_desktop {
    display: none;
  }
  .header__nav_tablet {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: "Bitter";
    font-weight: 400;
    font-size: 40px;
  }
}
.modal {
  align-self: center;
}

#modal-wrap {
  border: none;
  background-color: white;
  margin-right: 15px;
}

#dialog {
  position: fixed;
  border: none;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
}
#dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.dialog-container {
  height: 589px;
  width: 476px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dialog__text-container {
  height: 90px;
  width: 424px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.dialog__text-container h3 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 22px;
}

.dialog__text {
  height: 41px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .dialog-container {
    width: 442px;
  }
  .dialog__text-container {
    max-width: 402px;
  }
}
@media (max-width: 450px) {
  .dialog-container {
    width: 363px;
  }
  .dialog__text-container {
    width: 323px;
  }
  .dialog__text {
    height: 60px;
  }
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 360px;
  width: 435px;
  margin-top: 24px;
}

@media (max-width: 768px) {
  form {
    width: 402px;
  }
}
@media (max-width: 450px) {
  form {
    width: 323px;
  }
}
label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dialog__name {
  height: 81px;
}

.dialog__email {
  height: 81px;
}

.dialog__comment {
  height: 134px;
}

.name__input {
  height: 45px;
  width: 424px;
  border-radius: 8px;
}

.email__input {
  height: 42px;
  width: 424px;
  border-radius: 8px;
}

.comment__input {
  height: 95px;
  width: 424px;
  border-radius: 8px;
  font-family: inherit;
  resize: none;
  border-width: 2px;
}

@media (max-width: 768px) {
  .name__input, .email__input, .comment__input {
    width: 390px;
  }
}
@media (max-width: 450px) {
  .name__input, .email__input, .comment__input {
    width: 311px;
  }
}
.button-style, #modal__send, #modal__cancel {
  height: 54px;
  border-width: 1px;
  border-radius: 8px;
}

#modal__cancel {
  width: 208px;
  background-color: white;
  position: absolute;
  bottom: 26px;
  left: 24px;
}

@media (max-width: 768px) {
  #modal__cancel {
    width: 188px;
    left: 27px;
  }
}
@media (max-width: 450px) {
  #modal__cancel {
    width: 147px;
    left: 28px;
  }
}
#modal__send {
  width: 208px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 26px;
  right: 24px;
}

@media (max-width: 768px) {
  #modal__send {
    width: 188px;
    right: 27px;
  }
}
@media (max-width: 450px) {
  #modal__send {
    width: 147px;
    right: 28px;
  }
}
/* Mod studio */
h1 {
  font-family: "Playfair Display";
  font-weight: 500;
  font-size: 86px;
  margin-top: 120px;
  margin-bottom: 25px;
}

@media (max-width: 768px) {
  h1 {
    font-family: "Playfair Display";
    font-weight: 400;
    font-size: 70px;
  }
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blanchedalmond;
  min-height: 630px;
  background-image: url(/img/ms.jpg);
  background-position: center;
}

.box__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 690px;
  height: 360px;
  background-color: white;
}

.box__img-container {
  display: none;
}

@media (max-width: 768px) {
  .box {
    background-color: white;
    background-image: none;
    max-height: 685px;
    min-height: auto;
  }
  .box__text {
    min-width: 320px;
    max-width: 690px;
    width: auto;
    height: 303px;
  }
  h1 {
    margin-top: 78px;
  }
  .box__img-container {
    display: contents;
    max-width: 680px;
  }
  .box__img {
    width: 100%;
  }
}
h3 {
  font-size: 20px;
}

@media (max-weight: 768px) {
  h3 {
    font-size: 18px;
  }
}
/* Biography */
h4 { /* все заголовки категорий*/
  font-family: "Roboto";
  font-weight: 700;
  font-size: 24px;
}

@media (max-width: 768px) {
  h4 {
    font-size: 18px;
  }
}
.biography {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin: 150px 137px 150px 125px;
}

@media (max-width: 768px) {
  .biography {
    flex-direction: column-reverse;
    margin: 0 0 80px 0;
  }
}
.biography-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .biography-section {
    display: flex;
    flex-direction: row-reverse;
    margin: 0 auto;
    margin-top: 80px;
  }
}
.biography-section__title {
  max-width: 88px;
  margin: 0;
  transform: rotate(-90deg) translateX(-58px);
}

@media (max-width: 768px) {
  .biography-section__title {
    transform: none;
    max-width: 100%;
  }
}
.biography__img-container {
  min-width: 300px;
  max-width: 570px;
}

.biography__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 768px) {
  .biography__img-container {
    max-width: 768px;
    height: 400px;
  }
  .biography__img {
    height: 100%;
    aspect-ratio: 1.92;
  }
}
.biography-text {
  margin-left: 54px;
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 42px;
}

@media (max-width: 768px) {
  .biography-text {
    flex-direction: column-reverse;
    margin-left: 0px;
    margin-top: 0px;
  }
}
.biography-text__name {
  font-family: "Playfair Display";
  font-weight: 500;
  font-size: 86px;
  max-width: 230px;
  line-height: 130%;
  word-spacing: 200px;
}

@media (max-width: 768px) {
  .biography-text__name {
    max-width: 525px;
    word-spacing: normal;
    font-family: "Playfair Display";
    font-weight: 400;
    font-size: 64px;
  }
}
.biography-desc__text_desktop {
  font-size: 18px;
}

.biography-desc__text_tablet {
  display: none;
}

@media (max-width: 768px) {
  .biography-desc__text_desktop {
    display: none;
  }
  .biography-desc__text_tablet {
    display: contents;
    font-size: 18px;
  }
}
.biography-text__desc {
  display: flex;
  flex-direction: column-reverse;
}

.biography-desc__quote {
  font-family: "Bitter";
  font-weight: 400;
  font-size: 26px;
  max-width: 375px;
  line-height: 115%;
  padding-top: 22px;
}

@media (max-width: 768px) {
  .biography-desc__quote {
    max-width: 525px;
    font-family: "Bitter";
    font-weight: 300;
    font-size: 30px;
  }
}
/*Designers*/
.card-size, .designers-item__img {
  height: 440px;
  max-width: 572px;
}

.designers__title {
  margin: 5px 0 30px 140px;
}

.designers {
  margin: 0 0 130px 21px;
  height: 640px;
  display: flex;
  gap: 22px;
  align-items: baseline;
  overflow-x: auto;
}

@media (max-width: 768px) {
  .designers {
    margin: 0 0 80px 21px;
    height: auto;
  }
}
.designers__item {
  width: 100%;
}

/* big card start */
.designers-item__img_big {
  height: 538px;
  max-width: 572px;
}

@media (max-width: 768px) {
  .designers-item__img_big {
    height: 440px;
    max-width: 336px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.designers-item__desc_big {
  padding-right: 90px;
  justify-self: right;
}

/* big card end */
@media (max-width: 768px) {
  .designers-item__img {
    max-width: 336px;
  }
}
.designers-item__desc {
  line-height: 120%;
  margin-top: 22px;
}

/* Testimonials */
.testimonials {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonials-grid {
  padding-left: 25px;
  display: grid;
  grid-template-columns: minmax(98px, 2fr) minmax(100px, 9fr) minmax(100px, 3fr) minmax(100px, 9fr);
  grid-template-rows: repeat(11, 1fr);
}

.testimonials__title {
  grid-column: 3;
  grid-row: 1/3;
  writing-mode: sideways-lr;
  padding-left: 26px;
}

.testimonials__img-container1 {
  grid-column: 2;
  grid-row: 1/-1;
}

.testimonials__img1 {
  width: 100%;
}

.testimonials__link3 {
  grid-column: 1;
  grid-row: 1/4;
  writing-mode: sideways-lr;
  justify-self: center;
}

.testimonials__link1 {
  padding: 10px 10px 0 0;
  grid-column: 1;
  grid-row: 5/8;
  writing-mode: sideways-lr;
  place-self: center;
}

.testimonials__link2 {
  padding: 0 15px 30px 0;
  grid-column: 1;
  grid-row: 9/12;
  writing-mode: sideways-lr;
  place-self: center;
}

.testimonials_quote {
  font-family: "Bitter";
  font-weight: 400;
  font-size: 32px;
  padding: 45px 10px 0 0;
  line-height: 120%;
  max-width: 221px;
  grid-column: 4;
  grid-row: 1/6;
  text-align: center;
  place-self: center;
}

.testimonials__img-container2 {
  padding-top: 36px;
  grid-column: 4;
  grid-row: 6/-1;
  align-self: start;
  justify-self: center;
  max-width: 221px;
  height: 333px;
}

.testimonials__img2 {
  width: 100%;
}

@media (max-width: 768px) {
  .testimonials-grid {
    grid-template-columns: repeat(6, 1fr);
    /* grid-column: auto; */
    grid-template-rows: repeat(3, 1fr);
    height: 442px;
    padding-left: 0;
    max-width: 768px;
  }
  .testimonials__title {
    grid-column: 4/7;
    grid-row: 1;
    writing-mode: horizontal-tb;
    padding-left: 0px;
    justify-self: flex-end;
    padding-right: 10px;
  }
  .testimonials__img-container1 {
    display: none;
  }
  .testimonials__link3 {
    grid-column: 1/3;
    grid-row: 3/4;
    writing-mode: horizontal-tb;
    align-self: flex-end;
  }
  .testimonials__link1 {
    grid-column: 3/5;
    grid-row: 3;
    writing-mode: horizontal-tb;
    padding: 0;
    align-self: flex-end;
  }
  .testimonials__link2 {
    grid-column: 5/7;
    grid-row: 3;
    writing-mode: horizontal-tb;
    padding: 0;
    align-self: flex-end;
  }
  .testimonials_quote {
    grid-column: 1/4;
    grid-row: 1/4;
    align-self: center;
    justify-self: center;
    max-width: 364px;
    padding: 0;
    font-family: "Bitter";
    font-weight: 300;
    font-size: 30px;
  }
  .testimonials__img-container2 {
    padding-top: 16px;
    grid-column: 4/7;
    grid-row: 1/4;
    align-self: center;
    height: 330px;
    max-width: 336px;
  }
  .testimonials__img2 {
    height: 100%;
    aspect-ratio: 1/1;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 450px) {
  .testimonials-grid {
    grid-template-rows: 2fr 2fr 2fr 2fr 1fr 1fr;
    height: 705px;
  }
  .testimonials__link3 {
    grid-column: 1/4;
    grid-row: 5/6;
  }
  .testimonials__link1 {
    grid-column: 4/7;
    grid-row: 5/6;
  }
  .testimonials__link2 {
    grid-column: 1/4;
    grid-row: 6/7;
  }
  .testimonials__img-container2 {
    grid-column: 1/-1;
    grid-row: 3/5;
    padding-top: 0;
    max-width: 414px;
  }
  .testimonials__img2 {
    aspect-ratio: 1.2545454545;
  }
  .testimonials_quote {
    grid-column: 1/-1;
    grid-row: 1/3;
    max-width: 342px;
  }
}
/* Strong points */
.strong-points__title {
  margin: 140px 0 30px 260px;
}

@media (max-width: 768px) {
  .strong-points__title {
    margin: 80px 0 30px 15px;
  }
}
.strong-points {
  margin: 0 0 140px 20px;
  display: flex;
  gap: 20px;
  overflow-x: auto;
}

.strong-points__container {
  display: flex;
  gap: 20px;
  height: 554px;
}

@media (max-width: 768px) {
  .strong-points {
    margin: 0 0 80px 20px;
  }
  .strong-points__container {
    display: flex;
    flex-direction: row-reverse;
  }
}
.strpng-points__front-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 554px;
}

.strong-points__front-img-container {
  height: 554px;
  max-width: 335px;
}

@media (max-width: 768px) {
  .strpng-points__front-container {
    height: 450px;
  }
  .strong-points__front-img-container {
    height: 450px;
  }
}
.strong-points__img1 {
  max-width: 335px;
}

.strong-points__img2 {
  max-width: 335px;
}

.strong-points__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  width: 100%;
  max-width: 451px;
}

.strong-points-list__title {
  font-family: "Playfair Display";
  font-weight: 500;
  font-size: 86px;
}

.strong-points-list__items {
  font-family: "Bitter";
  font-weight: 400;
  font-size: 34px;
  line-height: 125%;
}

@media (max-width: 768px) {
  .strong-points-list__title {
    font-family: "Bitter";
    font-weight: 400;
    font-size: 46px;
  }
  .strong-points-list__items {
    font-family: "Bitter";
    font-weight: 400;
    font-size: 24px;
    height: 362px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.strong-points__img-container {
  max-width: 240px;
  max-height: 574px;
  display: flex;
  gap: 10px;
  /* scroll only for the right pictures */
  /* overflow-x: auto; */
}

.strong-points__img {
  height: 552px;
  max-width: 331px;
}

/* @supports (display: grid) {
  .strong-points {
    display: grid;
    grid-template-columns: 7fr 7fr 9fr 5fr;
    grid-template-rows: 145px 410px;
  }

  .strong-points__img1 {
    grid-column: 1;
    grid-row: 1/-1;
    width: 100%;
  }

  .strong-points__img2 {
    grid-column: 2;
    grid-row: 1/-1;
    width: 100%;
  }

  .strong-points-list__title{
    grid-column: 3;
    grid-row: 1;
  }

  .strong-points-list__items{
    grid-column: 3;
    grid-row: 2;
  }

  .strong-points__img-container{
    grid-column: 4;
    grid-row: 1/-1;
  }
} */
/* Footer */
.footer {
  padding: 25px;
  height: 115px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mod {
  font-size: 24px;
}

.footer__copyright_tablet {
  display: none;
}

@media (max-width: 768px) {
  .footer__copyright_desktop {
    display: none;
  }
  .footer__copyright_tablet {
    display: contents;
  }
}/*# sourceMappingURL=styles.css.map */